<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gameWaitServlet</servlet-name>
        <servlet-class>gameWaitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckWaitStateServlet</servlet-name>
        <servlet-class>CheckWaitStateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddWordServlet</servlet-name>
        <servlet-class>AddWordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCurrentPicServlet</servlet-name>
        <servlet-class>CheckCurrentPicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassServlet</servlet-name>
        <servlet-class>PassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registServlet</servlet-name>
        <servlet-class>registServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>logoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gameWaitServlet</servlet-name>
        <url-pattern>/gameWaitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckWaitStateServlet</servlet-name>
        <url-pattern>/CheckWaitStateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddWordServlet</servlet-name>
        <url-pattern>/AddWordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCurrentPicServlet</servlet-name>
        <url-pattern>/CheckCurrentPicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassServlet</servlet-name>
        <url-pattern>/PassServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
